.card {
  align-self: center;
  border: 1px solid currentColor;
  padding: 2rem;
  min-height: 20vh;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;

  .header {
    grid-row: 1 / 2;
    font-size: 1.5rem;
    padding-bottom: .5rem;
    border-bottom: .5px solid;
    margin-bottom: .5rem;
    align-self: center;
  }

  .content {
      grid-row: 2 / 3;
      height: 100%;
      padding: 1rem;
  }

  .button {
    grid-row: 3 / 4;
  }

}