  #container {
    display: grid;
    height: inherit;
  
    grid-template-areas: 
      "header"
      "message"
      "card"
      ".";
    grid-template-rows: 1fr auto  6fr .5fr;
  
    #header {
      grid-area: header;
      grid-row: 1 / 2;
      font-size: 2rem;
      padding: 1rem;
      padding-top: 2rem;
      justify-self: center;
    }
  
    #message {
      grid-area: message;
      grid-row: 2 / 3;
    }
  
    #card {
      grid-area: card;
      grid-row: 3 / 4;
      align-self: flex-start;
      justify-self: center;
    }
  }